#home {
  height: 100%;
  width: 100%;

  .center {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

    .center-item {
      text-align: center;
      width: 70%;
    }
  }

  .ldn {
    font-size: 4.236em;
    font-family: Crimson Text;
    color: #242A2E;

  }

  .gitmenu {
    margin-top: 40px;

    iframe {
      margin-bottom: 20px;
    }
  }
}
