@import "reset";
@import "content";

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar {
  display: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #FFF;
  width: 100%;
  height: 100%;
}

#home {
  height: 100%;
  width: 100%;

  .center {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

    .center-item {
      text-align: center;
    }
  }

  .ldn {
    font-size: 4.236em;
    font-family: Crimson Text;
    color: #242A2E;
  }

  .gitmenu {
    margin-top: 40px;

    iframe {
      margin-bottom: 20px;
    }
  }
}
