@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Crimson+Text');
@import "reset";
@import "content";

body {
  font-family: 'Roboto', sans-serif;
  background: #FFF;
  width: 100%;
  height: 100%;
}
.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: Crimson Text;
}
