@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "../../node_modules/bootstrap-4-grid/scss/grid";
@import "content";


body {
  font-family: 'Roboto', sans-serif;
  background: #FFF;
  width: 100%;
  height: 100%;
}
.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lt-text{
  display: block;
  color:green;
}
